/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Estilos de este documento */

@font-face {
  font-family: Aliencons;
  src: url(../ttf/aliencons.ttf);
}

body * {
  font-family: Aliencons, "Trebuchet MS", Helvetica,sans-serif;
  line-height: 1.5; 
  background-color: rgb(191, 0, 255);
  color: white;
}

header {
  padding: 30px 60px 90px 100px;
  
}

header * { 
  color: white;
  text-align: center;
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", sans-serif;
	font-weight: bold;
	color: black;
}

header h1 {
  margin-bottom: 1em;
  color: white;
  font-size: 2em;
}
